* {
  box-sizing: border-box;
  /* font-family: "MontserratAlternates Regular", sans-serif; */
}

body {
  width: 100%;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 20px;
}