/* Первый фрейм */
#hero-slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-slider__title {
  position: absolute;
  top: 21%;
  left: 5%;
  /* width: 43%; */
  line-height: 1.4;
  font-weight: 700;
  font-size: 4vw;
  font-style: italic;
  color: #fff;
  background-color: #00000045;
  /* background-color: #d4252c85; */
  padding: 20px;
  border-radius: 15px;
  margin-right: 51%;
}

.hero-slider__title:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 9px;
}

.hero-swiper-wrapper {
  height: 100%;
}

.hero-swiper-slide {
  max-height: auto;
}

.hero-slider__title_link {
  color: #fff;
}

.hero-slider__title_link:hover {
  text-decoration: underline;
}

.hero-slider__slide {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  display: flex;
  position: absolute;
  gap: 20px;
  bottom: 33px;
  left: 50%;
  transform: translateX(-50%);
}

#hero-slider__pignation-bullet {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  position: relative;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  background-color: #d4252c;
  border: none;
  cursor: pointer;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 35px;
  height: 35px;
}

/* Первый фрейм */

/* Второй фрейм */
.catalog {
  margin-bottom: 60px;
}

.catalog__card:nth-child(n+4) {
  display: none;
}

.btn__catalog {
  display: flex;
  align-self: center;
}

/* Второй фрейм */

/* Третий фрейм */
.btn__learn-more {
  width: 221px;
  height: 63px;
  border-radius: 10px;
  border: 1px solid #D4252C;
  color: #D4252C;
  font-size: 19px;
  background-color: #ffffff;
  margin: 0 auto;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 50px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__learn-more:hover {
  background-color: #D4252C;
  color: #ffffff;
}

.btn__learn-more:active {
  border: none;
  background-color: #C6C6C6;
  color: rgba(33, 33, 33, 0.69);
}

/* Третий фрейм */

/* Пятый фрейм */
.news {
  display: none;
}

.news__btn-all-link {
  text-decoration: none;
  color: inherit;
}

.map__container {
  width: 100%;
}

.news__btn-all {
  width: 361px;
  height: 107px;
  border-radius: 10px;
  border: 1px solid #D4252C;
  color: #D4252C;
  font-size: 40px;
  background-color: #ffffff;
  margin: 100px auto;
  text-transform: uppercase;
  cursor: pointer;
}

.news__btn-all:hover {
  background-color: #D4252C;
  color: #ffffff;
}

.news__btn-all:active,
.news__btn-more:active {
  border: none;
  background-color: #C6C6C6;
  color: rgba(33, 33, 33, 0.69);
}

/* Пятый фрейм */

.footer {
  margin-top: 0;
}

@media (max-width: 1910px) {
  .hero-slider__title {
    top: 23%;
    left: 5%;
    font-size: 5vw;
  }
}

@media (max-width: 1525px) {
  .swiper-pagination-bullet {
    height: 25px;
    width: 25px;
  }

  .swiper-pagination-bullet-active {
    height: 32px;
    width: 32px;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    gap: 12px;
    bottom: 22px;
  }
}

@media (max-width: 1300px) {
  .news__btn-all {
    width: 193px;
    height: 57px;
    font-size: 21px;
    border-radius: 4px;
    margin: 60px 0;
  }

  .swiper-pagination-bullet {
    height: 22px;
    width: 22px;
  }

  .swiper-pagination-bullet-active {
    height: 30px;
    width: 30px;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 15px;
    gap: 10px;
  }

  .hero-slider__title {
    /* width: 43%; */
    border-radius: 15px;
  }

  .hero-slider__title:hover {
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
  }
}

@media (max-width: 950px) {
  .map-iframe {
    height: 400px;
  }
}

@media (max-width: 780px) {
  .btn__learn-more {
    font-size: 14px;
    height: 55px;
    width: 172px;
  }
}

@media (max-width: 768px) {
  #hero-slider__pignation-bullet {
    gap: 10px;
  }

  .swiper-pagination-bullet {
    width: 17px;
    height: 17px;
  }

  .swiper-pagination-bullet-active {
    width: 24px;
    height: 24px;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 15px;
  }

  .hero-slider__title {
    /* width: 43%; */
    border-radius: 15px;
  }

  .hero-slider__title:hover {
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
  }
}

@media (max-width: 590px) {
  #hero-slider__pignation-bullet {
    gap: 3px;
  }

  .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
  }

  .swiper-pagination-bullet-active {
    width: 20px;
    height: 20px;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 10px;
  }

  .catalog__card:nth-child(n+3) {
    display: none;
  }

  .btn__learn-more {
    font-size: 12px;
    height: 47px;
    width: 142px;
  }

  .hero-slider__title {
    margin-right: 61%;
    padding: 10px;
    font-size: 25px;
    line-height: 150%;
    /* width: 43%; */
    border-radius: 10px;
  }

  .hero-slider__title:hover {
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
  }
}

@media (max-width: 440px) {
  #hero-slider__pignation-bullet {
    gap: 2px;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 8px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }

  .swiper-pagination-bullet-active {
    width: 17px;
    height: 17px;
  }

  .hero-slider__title {
    font-size: 22px;
  }

  .hero-slider__title:hover {
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
  }
}

@media (max-width: 380px) {
  .hero-slider__title {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  #hero-slider__pignation-bullet {
    gap: 0px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 6px;
  }
}