# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.suo
*.ntvs_analysis.dat
*.njsproj
*.sln
*.sw?

# Test coverage
coverage/

# Dependency directories
jspm_packages/

# Build directories
dist/
build/

# Temporary files
*.tmp
*.cache

# Compiled files
*.class
*.pyc

# Dependency and lock files
*.lock

# Sass cache
.sass-cache/

# Framework-specific
.next/
.nuxt/

# Serverless
.serverless/

# Process IDs
*.pid

# Original files
*.orig