.news__wrapper,
.news-page_container {
  width: 90%;
  position: relative;
}

.news__title {
  position: relative;
  display: inline-block;
  font-size: 66px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 102px;
}

.news__container {
  flex-direction: column;
  align-items: center;
  margin-top: 133px;
  margin: 0 auto;
  width: 93%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.news-swiper {
  width: 92%;
}

.news-swiper-slide {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 28%;
  transition: box-shadow 0.3s ease;
}

.news-img {
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  cursor: pointer;
  max-height: 100%;
  color: #D4252C;
}

.news__date {
  font-size: 24px;
  font-weight: 600;
  color: #D4252C;
  margin-bottom: 10px;
}

.news__text {
  line-height: 150%;
  flex-grow: 1;
}

.news__text p {
  font-size: 21px;
}

.news-page__title {
  width: 100%;
  font-size: 66px;
  font-weight: bold;
  margin-bottom: 102px;
  text-align: center;
}

.news-page {
  margin: 0 auto;
}

.main-container {
  width: 90%;
  margin: 0 auto;
}

.news-page__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.news-page__item {
  width: 32%;
  height: auto;
  margin-bottom: 55px;
}

.news__btn-more {
  border: none;
  background-color: #D4252C;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.news__btn-more-link {
  color: #ffffff;
  text-decoration: none;
}

.news__btn-more-link:hover {
  color: inherit;
}

.news__btn-more:hover {
  background-color: #000000;
  color: #ffffff;
}

@media (max-width: 1300px) {
  .news__container {
    width: 100%;
  }

  .news__title {
    font-size: 36px;
  }

  .news__title {
    margin-bottom: 45px;
  }

  .news__wrapper {
    width: 100%;
  }

  .news__date {
    font-size: 18px;
  }

  .news__text p {
    font-size: 15px;
  }

  .news__btn-more {
    font-size: 14px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 34px;
  }
}

@media (max-width: 1024px) {

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 30px;
  }

  .swiper-button-next {
    right: 0;
    top: 40%;
  }

  .swiper-button-prev {
    left: 0;
    top: 40%;
  }

  .news__btn-more {
    width: 86px;
    height: 23px;
    font-size: 9px;
  }

  .news__date {
    font-size: 13px;
  }

  .news__text p {
    font-size: 12px;
  }

}

@media (max-width: 880px) {
  .news__btn-more {
    width: 68px;
    height: 18px;
    font-size: 7px;
  }
}

@media (max-width: 840px) {

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 28px;
  }

  .swiper-button-next {
    right: 0;
    top: 35%;
  }

  .swiper-button-prev {
    left: 0;
    top: 35%;
  }
}

@media (max-width: 780px) {
  .news__title {
    font-size: 25px;
  }

  .news__date {
    font-size: 11px;
  }

  .news__text p {
    font-size: 9px;
    line-height: 90%;
  }

  .swiper-button-next {
    right: -5px;
  }

  .swiper-button-prev {
    left: -5px;
  }
}

@media (max-width: 680px) {

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 23px;
  }

  .swiper-button-next {
    right: -10px;
    top: 25%;
  }

  .swiper-button-prev {
    left: -10px;
    top: 25%;
  }
}

@media (max-width: 590px) {
  .news__title {
    font-size: 20px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .news__btn-more {
    font-size: 5px;
    width: 58px;
    height: 13px;
  }

  .news__date {
    font-size: 8px;
  }

  .news__text p {
    font-size: 7px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 13px;
  }
}