/* Новость в развороте (полная новость) */

.main__breadcrumbs {
	width: 90%;
	margin: 0 auto;
}

.current-news__container {
	margin: 0 auto;
}

.current-news {
	margin: 0 auto;
	max-width: 90%;
}

.current-news__item {
	margin: 0 auto;
}

.news__container,
.news-page_container {
	width: 90%;
	position: relative;
}

.current-news .container {
	display: flex;
	flex-direction: column;
	margin-top: 133px;
	margin: 0 auto;
}

.current-news__title {
	font-size: 66px;
	font-weight: bold;
	margin-bottom: 102px;
	text-align: center;
}

.current-news__text {
	font-size: 24px;
	line-height: 64px;
}

.current-news__img-block {
	max-width: 100%;
	height: auto;
	margin-bottom: 7%;
}

.current-news__img {
	width: 100%;
	height: auto;
}

.current-news__btn {
	margin: 0 auto;
	width: fit-content;
	border: none;
	background-color: #D4252C;
	text-transform: uppercase;
	font-size: 24px;
	color: #ffffff;
	padding: 15px 30px;
	border-radius: 5px;
	margin-top: 65px;
	margin-bottom: 65px;
}

.current-news__btn:hover {
	background-color: #000000;
	color: #ffffff;
}

.news__title {
	position: relative;
	display: inline-block;
	font-size: 66px;
	font-weight: bold;
	margin: 0 auto;
	margin-bottom: 102px;
}

.news__container {
	margin: 0 auto;
	width: 93%;
	height: auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
}

.swiper {
	width: 92%;
}

.swiper-slide {
	height: auto;
	width: 28%;
}

.news-img {
	width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	cursor: pointer;
	max-height: 100%;
}

.news__date {
	font-size: 24px;
	font-weight: 600;
	color: #D4252C;
	margin-bottom: 10px;
}

.news__btn-more {
	margin-top: 20px;
}

.news__text {
	line-height: 150%;
}

.news__btn-all {
	margin-top: 93px;
	margin-bottom: 80px;
}

.map__container {
	width: 100%;
}

.news-page__title {
	width: 100%;
	font-size: 66px;
	font-weight: bold;
	margin-bottom: 102px;
	text-align: center;
}

.news-page {
	margin: 0 auto;
}

.main-container {
	width: 90%;
	margin: 0 auto;
}

.main__breadcrumbs {
	margin-top: 100px;
	margin-bottom: 50px;
}

.news-page__container {
	display: flex;
	flex-wrap: wrap;
	gap: 2%;
}

.news__btn-more {
	width: 140px;
	height: 40px;
	border-radius: 5px;
	cursor: pointer;
}

.news-page__item {
	width: 32%;
	height: auto;
	margin-bottom: 55px;
}

.news__btn-more {
	border: none;
	background-color: #D4252C;
	text-transform: uppercase;
	font-size: 16px;
	color: #ffffff;
}

.news__btn-more:hover {
	background-color: #000000;
	color: #ffffff;
}

.news__btn-all {
	width: 361px;
	height: 107px;
	border-radius: 10px;
	border: 1px solid #D4252C;
	color: #D4252C;
	font-size: 40px;
	background-color: #ffffff;
	margin: 0 auto;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 100px;
	margin-bottom: 100px;
}

.news__btn-all:hover {
	background-color: #D4252C;
	color: #ffffff;
}

.news__btn-all:active,
.news__btn-more:active {
	border: none;
	background-color: #C6C6C6;
	color: rgba(33, 33, 33, 0.69);
}