.header-container {
  padding-bottom: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-header {
  display: flex;
  margin: 0 95px 0 161px;
}

.nav-header__menu-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 72px;
}

.nav-header__link {
  text-decoration: none;
  font-size: 24px;
  padding-bottom: 37px;
  color: #000;
}

.social-header {
  display: flex;
  gap: 29px;
  align-items: baseline;
}

.info-header {
  margin-left: 53px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.info-header__call,
.info-header__email {
  text-decoration: none;
  font-size: 24px;
  color: #d4252c;
}

.animated-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.animated-logo__text {
  text-decoration: none;
  color: #000;
  margin: 16.8px 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  opacity: 0;
  clip-path: inset(100% 0 100% 0);
  transition: clip-path 0.5s ease, opacity 0.5s ease;
}

.animated-logo__text.active {
  opacity: 1;
  clip-path: inset(0 0 0 0);
}

.animated-logo__up-short-line {
  color: rgba(212, 37, 44, 1);
  border-top: 1.8px solid;
  width: 170px;
  border-radius: 50%;
  position: absolute;
  top: 23px;
}

.animated-logo__up-long-line {
  color: rgba(212, 37, 44, 1);
  border-top: 2.5px solid;
  width: 250px;
  border-radius: 50%;
  position: absolute;
}

.animated-logo__down-long-line {
  color: rgba(212, 37, 44, 1);
  border-top: 2.5px solid;
  width: 250px;
  border-radius: 50%;
  position: absolute;
}

.animated-logo__down-short-line {
  color: rgba(212, 37, 44, 1);
  border-top: 1.8px solid;
  width: 170px;
  border-radius: 50%;
  position: absolute;
  bottom: 23px;
}

.header-menu__unwrap {
  display: none;
  padding-left: 30px;
  position: absolute;
  left: 0;
  top: 93px;
  width: 100%;
  height: 86px;
  background-color: #f9f9f9;
  z-index: 1000;
}

.header-menu__lists {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 72px;
}

.header-menu__link {
  text-decoration: none;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.68);
}

.nav-header__item--dropdown-about:hover .header-menu__unwrap,
.nav-header__item--dropdown-catalog:hover .header-menu__unwrap {
  display: flex;
}