/* Первый фрейм */
#hero-slider {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.hero-slider__title {
  position: absolute;
  top: 21%;
  left: 5%;
  width: 50%;
  line-height: 1.4;
  font-weight: 700;
  font-size: 4vw;
  font-style: italic;
  color: #fff;
}

.hero-slider__slide {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  display: flex;
  position: absolute;
  gap: 20px;
  bottom: 33px;
  left: 50%;
  transform: translateX(-50%);
}

#hero-slider__pignation-bullet {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  position: relative;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  background-color: #d4252c;
  border: none;
  cursor: pointer;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 35px;
  height: 35px;
}

/* Первый фрейм */

/* Второй фрейм */
.catalog {
  margin-bottom: 140px;
}

.catalog__card:nth-child(n+4) {
  display: none;
}

.btn__catalog {
  display: flex;
  align-self: center;
}

/* 
.catalog__card-buttons {
  display: flex;
  justify-content: space-between;
  margin: 33px 21px 44px 21px;
} */

/* Второй фрейм */

/* Третий фрейм */
.in-stock .container {
  display: flex;
  flex-direction: column;
  margin-top: 133px;
}

.in-stock__container {
  margin: 0 auto;
  width: 93%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.in-stock__item {
  width: 30%;
  height: auto;
  background-color: #F0F0F0;
  border-radius: 15px;
  position: relative;
  padding: 3% 0;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.in-stock__item:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.in-stock__title-container {
  position: relative;
  display: inline-block;
}

.in-stock__title {
  position: relative;
  display: inline-block;
  font-size: 66px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 102px;
}

.in-stock__title::after {
  content: '';
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 0;
  height: 3px;
  background: #D4252C;
  transition: width 1s ease, left 1s ease;
}

/* .in-stock__title.animate::after {
  width: 41%;
  left: 59%;
} */

.in-stock__img {
  height: fit-content;
}

.in-stock__title-container {
  margin: 0 auto;
}

.in-stock__item-title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 40px;
}

.in-stock__property-block {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.property-list__transported-weight,
.property-list__self-weight,
.property-list__platform-dimensions,
.property-list__axle-load {
  font-size: 22px;
  margin-top: 22px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-right: 21px;
  margin-left: 21px;
  position: relative;
  width: 100%;
}

.property-list__red-line {
  border-bottom: 1px solid #D4252C;
  width: 1000%;
  position: absolute;
  left: -21px;
  bottom: 0;
}

.in-stock__item-cost {
  margin-top: 30px;
  margin-left: 21px;
  font-size: 16px;
}

.in-stock__item-btns {
  display: flex;
  justify-content: space-between;
  margin-left: 21px;
  margin-right: 21px;
  margin-top: 50px;
}

.in-stock__item-btn {
  width: 140px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.btn__learn-more {
  width: 361px;
  height: 107px;
  border-radius: 10px;
  border: 1px solid #D4252C;
  color: #D4252C;
  font-size: 40px;
  background-color: #ffffff;
  margin: 0 auto;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 50px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__learn-more:hover {
  background-color: #D4252C;
  color: #ffffff;
}

.btn__learn-more:active {
  border: none;
  background-color: #C6C6C6;
  color: rgba(33, 33, 33, 0.69);
}

/* Третий фрейм */

/* Андрей четвёртый фрейм начало */
.feedback {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 200px 0;
  /* margin-top: 200px;
  margin-bottom: 200px; */
}

.feedback__h2 {
  position: relative;
  font-size: 64px;
  font-weight: 700;
  color: #28392c;
}

.feedback__h2::after {
  content: '';
  position: absolute;
  top: 72px;
  right: 0;
  width: 0px;
  height: 3px;
  background: #D4252C;
  transition: width 1s ease, right 1s ease;
}

.animate-form::after {
  width: 530px;
  right: 778px;
}

.feedback__form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.feedback__input-block {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.feedback__wrapper {
  display: flex;
  gap: 50px;
}

.feedback__block-left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.feedback__block-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.feedback__label {
  padding-left: 15px;
  font-weight: 500;
  font-size: 32px;
}

.feedback__label-required::after {
  content: "*";
  color: #D4252C;
  margin-left: 2px;
}

.feedback__input {
  font-size: 28px;
  font-weight: 400;
  border-radius: 4px;
  width: 675px;
  height: 84px;
  padding: 15px;
  border: none;
  outline: none;
  background: #F0F0F0;
}

.feedback__input-message {
  height: 250px;
  resize: none;
  overflow-y: auto;
}

.feedback__validate-text {
  font-size: 20px;
  align-self: flex-start;
  color: #D4252C;
}

.feedback__btn {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #D4252C;
  border-radius: 6px;
  width: 414px;
  height: 118px;
  background: rgb(240, 240, 240);
  cursor: pointer;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #D4252C;
  user-select: none;
  transition: background 0.3s ease, color 0.3s ease;
}

.feedback__btn:hover {
  background: #D4252C;
  color: #fff;
}

.feedback__btn:active {
  background: #D4252C;
  color: rgba(33, 33, 33, 0.69);
  border-color: black;
  background: rgb(240, 240, 240);
}

/* Андрей четвёртый фрейм конец */

/* Пятый фрейм */
.news__btn-all-link {
  text-decoration: none;
  color: inherit;
}

.map__container {
  width: 100%;
}

.news__btn-all {
  width: 361px;
  height: 107px;
  border-radius: 10px;
  border: 1px solid #D4252C;
  color: #D4252C;
  font-size: 40px;
  background-color: #ffffff;
  margin: 100px auto;
  text-transform: uppercase;
  cursor: pointer;
}

.news__btn-all:hover {
  background-color: #D4252C;
  color: #ffffff;
}

.news__btn-all:active,
.news__btn-more:active {
  border: none;
  background-color: #C6C6C6;
  color: rgba(33, 33, 33, 0.69);
}

/* Пятый фрейм */

.footer {
  margin-top: 0;
}

@media (max-width: 1910px) {
  .hero-slider__title {
    top: 23%;
    left: 5%;
    font-size: 5vw;
  }
}

@media (max-width: 1520px) {
  .feedback__input {
    width: 575px;
  }

}

@media (max-width: 1345px) {
  .animate-form::after {
    display: none;
  }

}

@media (max-width: 1300px) {
  .btn__learn-more {
    width: 193px;
    height: 57px;
    font-size: 21px;
    border-radius: 4px;
  }

  .feedback {
    margin: 90px 0;
  }

  .animate-form::after {
    display: block;
    width: 297px;
    right: 439px;
  }

  .feedback__wrapper {
    gap: 20px;
  }

  .feedback__h2 {
    font-size: 36px;
  }

  .feedback__h2::after {
    height: 2px;
    top: 48px;
  }

  .feedback__label {
    font-size: 18px;
  }

  .feedback__input {
    width: 360px;
    height: 44px;
    font-size: 18px;
  }

  .feedback__input-message {
    height: 156px;
  }

  .feedback__validate-text {
    font-size: 10px;
  }

  .feedback__btn {
    font-size: 19px;
    width: 221px;
    height: 63px;
  }

  .news__btn-all {
    width: 193px;
    height: 57px;
    font-size: 21px;
    border-radius: 4px;
    margin: 60px 0;
  }
}

@media (max-width: 780px) {
  .btn__learn-more {
    width: 178px;
    height: 53px;
    font-size: 19px;
    border-radius: 3px;
  }

  .feedback {
    margin: 75px 0;
  }

  .feedback__h2 {
    font-size: 25px;
  }

  .feedback__h2::after {
    height: 2px;
  }

  .animate-form::after {
    width: 207px;
    right: 305px;
    top: 34px;
  }

  .feedback__form {
    margin-top: 24px;
  }

  .feedback__label {
    font-size: 14px;
  }

  .feedback__input {
    width: 271px;
    height: 33px;
    font-size: 12px;
  }

  .feedback__input-message {
    height: 130px;
  }

  .feedback__validate-text {
    font-size: 9px;
  }

  .feedback__btn {
    font-size: 14px;
    width: 172px;
    height: 55px;
  }

}

@media (max-width: 768px) {
  #hero-slider__pignation-bullet {
    gap: 10px;
  }

  .swiper-pagination-bullet {
    width: 21px;
    height: 21px;
  }

  .swiper-pagination-bullet-active {
    width: 31px;
    height: 31px;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 15px;
  }
}

@media (max-width: 590px) {
  #hero-slider__pignation-bullet {
    gap: 5px;
  }

  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
  }

  .swiper-pagination-bullet-active {
    width: 25px;
    height: 25px;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 15px;
  }

  .catalog__card:nth-child(n+3) {
    display: none;
  }

  /* ****************************************** */
  .btn__learn-more {
    width: 118px;
    height: 27px;
    font-size: 10px;
  }

  .feedback {
    margin: 35px 0;
  }

  .feedback__h2 {
    font-size: 20px;
  }

  .animate-form::after {
    width: 165px;
    right: 244px;
    top: 28px;
  }

  .feedback__label {
    font-size: 10px;
  }

  .feedback__input {
    width: 153px;
    height: 34px;
    font-size: 8px;
  }

  .feedback__input-message {
    height: 130px;
  }

  .feedback__validate-text {
    font-size: 7px;
  }

  .feedback__btn {
    font-size: 10px;
    width: 118px;
    height: 37px;
  }

}

@media (max-width: 450px) {
  .feedback {
    gap: 5px;
  }

  .feedback__block-left,
  .feedback__block-right {
    gap: 15px;
  }

  .feedback__wrapper {
    flex-direction: column;
  }

  .feedback__h2 {
    text-align: center;
  }

  .animate-form::after {
    display: none;
  }

  .feedback__form {
    margin-top: 20px;
    width: 100%;
    align-items: stretch;
  }

  .feedback__input {
    width: 100%;

  }
}

@media (max-width: 320px) {
  #hero-slider__pignation-bullet {
    gap: 0px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }

  .swiper-pagination-bullet-active {
    width: 18px;
    height: 18px;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 10px;
  }
}