/* Закрепленная панель справа */
.moving-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 485px;
  width: 3%;
  height: 181px;
  z-index: 1000;
}

.moving-btn__social {
  position: relative;
  padding-left: 12px;
  width: 245px;
  height: 63px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 32px;
  background-color: #d83e45;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  transition: transform 0.3s ease;
  right: -90px;
}



.moving-btn__social:hover {
  transform: translateX(-180px);
}

.moving-btn__social-link {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 880px) {
  .moving-btn__social {
    font-size: 21px;
    width: 240px;
    height: 50px;
    right: -75px;
  }

  .moving-btn__social-logo {
    width: 35px;
  }
}

@media (max-width: 600px) {
  .moving-btn__social {
    font-size: 19px;
    width: 250px;
    height: 45px;
    right: -77px;
  }

  .moving-btn__social-logo {
    width: 33px;
  }
}