/* Страница с полным описанием карточки товара */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat Regular", sans-serif;
}

body {
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 18px;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  line-height: 150%;
}

.production,
.advantages,
.details {
  margin-bottom: 40px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details__text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 500px;
}

.production__title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

.production__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.production__image img,
.details__image img,
.advantages__image {
  max-width: 100%;
  height: auto;
}

.production__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  flex: 1;
  padding: 20px;
  min-width: 300px;
}

.advantages {
  display: flex;
  justify-content: center;
  text-align: center;
}

.advantages__image {
  max-width: 100%;
  height: auto;
}

.button {
  color: white;
  background: #d4252c;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  width: 170px;
  height: 44px;
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 768px) {

  .production__content,
  .details {
    flex-direction: column;
  }

  .production__text,
  .details__text,
  .details__image {
    padding: 10px;
  }

  .details__image {
    order: -1;
  }
}