  .social-icons__container {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2000;
}

.social-icons-block {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.social-icon.whatsapp,
.social-icon.mail,
.social-icon.telegram {
	padding-left: 20px;
	width: 240px;
	height: 63px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	background-color: #D83E45;
	position: relative;
	transition: transform 0.3s ease;
	gap: 40px;
	color: #fff;
	text-transform: uppercase;
}

.social-icon.whatsapp {
	top: 370px;
	right: -73%;
}

.social-icon.telegram {
	top: 359px;
	right: -73%;
}

.social-icon.mail {
	top: 348px;
	right: -73%;
}

.social-img {
	width: 30px;
	height: 30px;
}

.social-icon:hover {
	transform: translateX(-73%);
}

.tooltip {
	font-size: 20px;
}