.availability .container {
  display: flex;
  flex-direction: column;
}

.availability__container {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.availability__item {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  background-color: #F0F0F0;
  border-radius: 15px;
  position: relative;
  padding: 3% 0;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.availability__item:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.availability__item-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.availability__title-container {
  position: relative;
  display: inline-block;
}

.availability__title {
  position: relative;
  display: inline-block;
  font-size: 66px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 102px;
}

.availability__title::after {
  content: '';
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 0;
  height: 3px;
  background: #D4252C;
  transition: width 1s ease, left 1s ease;
}

.availability__title.animate::after {
  width: 41%;
  left: 59%;
}

.trailer-img {
  width: 100%;
}

.availability__title-container {
  margin: 0 auto;
}

.availability__item-title {
  /* font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 23px 0 40px 7px;
  max-width: 360px;
  line-height: 150%;
  flex-grow: 1; */

  flex-grow: 1;
  font-size: 22px;
  font-weight: 700;
  margin: 23px 110px 40px 21px;
  text-transform: uppercase;
}

.availability__property-block {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-grow: 1;
}

.property-list__transported-weight,
.property-list__self-weight,
.property-list__platform-dimensions,
.property-list__axle-load {
  font-size: 22px;
  margin-top: 22px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-right: 21px;
  margin-left: 21px;
  position: relative;
  width: 100%;
}

.property-list__red-line {
  border-bottom: 1px solid #D4252C;
  width: 1000%;
  position: absolute;
  left: -21px;
  bottom: -2px;
}

.availability__item-cost {
  margin-top: 30px;
  margin-left: 21px;
  font-size: 16px;
}

.availability__item-btns {
  display: flex;
  justify-content: space-between;
  margin-left: 21px;
  margin-right: 21px;
  margin-top: 50px;
}

/* .availability__item-btn {
  width: 140px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
} */

/* .pdf {
  border: 1px solid #D4252C;
  color: #D4252C;
} */

/* .learn {
  border: none;
  background-color: #D4252C;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
}

.learn:hover {
  background-color: #000000;
  color: #ffffff;
} */

/* .btn__learn-more {
  width: 361px;
  height: 107px;
  border-radius: 10px;
  border: 1px solid #D4252C;
  color: #D4252C;
  font-size: 40px;
  background-color: #ffffff;
  margin: 0 auto;
  text-transform: uppercase;
  cursor: pointer;
} */

/* .btn__learn-more {
  margin-top: 50px;
} */

/* .btn__learn-more:hover,
.pdf:hover {
  background-color: #D4252C;
  color: #ffffff;
} */

/* .pdf:active,
.btn__learn-more:active,
.learn:active {
  border: none;
  background-color: #C6C6C6;
  color: rgba(33, 33, 33, 0.69);
} */

.btn__learn-more:active {
  border: none;
  background-color: #C6C6C6;
  color: rgba(33, 33, 33, 0.69);
}

@media (max-width: 1500px) {
  .property-list__text {
    font-size: 18px;
  }

  .availability__item-title {
    margin: 20px;
  }
}

@media (max-width: 1300px) {
  .availability__title {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .trailer-img {
    max-height: 220px;
  }

  .availability__item-title {
    margin-bottom: 10px;
    font-size: 18px;
  }

  /* .property-list__transported-weight,
  .property-list__value {
    font-size: 12px;
  } */
  .property-list__text {
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  .availability__item-title {
    margin-bottom: 0px;
    font-size: 15px;
    max-width: 210px;
  }

  .property-list__text {
    font-size: 13px;
  }

  .property-list__text {
    margin-left: 10px;
  }

  .availability__item-btns {
    margin-top: 30px;
  }
}

@media (max-width: 880px) {
  .property-list__text {
    margin-right: 7px;
    margin-left: 7px;
    font-size: 11px;
  }

  .availability__item-btns {
    margin-right: 7px;
    margin-left: 7px;
  }

  .availability__item-title {
    font-size: 12px;
  }
}

@media (max-width: 780px) {
  .availability__title {
    font-size: 25px;
    margin-bottom: 25px;
  }

  .availability {
    margin-top: 25px;
  }

  .availability__item-title {
    max-width: 100%;
  }

  .availability__item {
    width: 45%;
  }

  .property-list__text {
    font-size: 12px;
  }
}

@media (max-width: 570px) {

  .availability__item-title {
    margin: 11px;
    font-size: 11px;
  }

  .property-list__text {
    font-size: 11px;
  }
}

@media (max-width: 520px) {
  .availability__container {
    flex-direction: column;
    align-items: center;
  }

  .availability__item {
    width: 70%;
  }

  .availability__item-title {
    font-size: 12px;
  }

  .property-list__text {
    font-size: 12px;
  }

  .availability__item-btns,
  .property-list__text {
    margin-left: 12px;
    margin-right: 12px;
  }
}
@media (max-width: 385px) {
  .availability__item-title {
    font-size: 11px;
  }

  .property-list__text {
    font-size: 11px;
  }

  .availability__item-btns,
  .property-list__text {
    margin-left: 10px;
    margin-right: 10px;
  }
}