:root {
  --title-font-size: 64px;

  --availability-width: 204px;
  --availability-height: 71px;
  --availability-font-size: 14px;
  --availability-margin: 20px 0;

  --swiper-slide-width: 1500px;
  --swiper-button-next-after-font-size: 34px;

  --product-info-margin-top: 50px;
  --product-info-title-text-size: 20px;
  --product-info-title-text-gap: 70px;
  --product-info-title-margin-bottom: 20px;
  --product-info-text-padding: 0 40px 20px 40px;
  --product-info-text-font-size: 24px;
  --product-info-text-main-block-padding: 15px 10px;
  --product-info-text-align-description: center;
  --product-info-description-title-margin-bot: 20px;
}

.main {
  display: flex;
  flex-direction: column;
}

.product__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product__title {
  font-weight: 700;
  font-size: var(--title-font-size);
  line-height: 1.5;
  text-align: center;
}

.availability-icon {
  align-items: center;
  animation: gradientAnimation 6s ease infinite;
  background: linear-gradient(168deg, #5a1e20, #d4252c);
  background-size: 200% 200%;
  border-radius: 15px;
  color: #fff;
  display: none;
  font-size: 20px;
  height: var(--availability-height);
  justify-content: center;
  margin: var(--availability-margin);
  width: var(--availability-width);
}

.availability-icon__text {
  text-align: center;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;

}

/* Слайдер */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  user-select: none;
}

.gallery-top {
  position: relative;
  align-items: center;
  justify-content: center;
}

.swiper-slide-top {
  opacity: 1;
}

.swiper-slide-top-img {
  width: var(--swiper-slide-width);
}

.swiper-slide-bot-img {
  width: 100%;
}

.gallery-thumbs {
  margin-top: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #D4252C;
  top: 50%;
}

.swiper-slide-thumb-active {
  opacity: 1;
  transform: scale(1.1);
}

/* Описание и характеристики */
.product-info__all-titles {
  display: flex;
  justify-content: center;
  gap: var(--product-info-title-text-gap);
  margin-bottom: var(--product-info-title-margin-bottom);
}

.product-info__title {
  margin-top: var(--product-info-margin-top);
  font-weight: 700;
  font-size: calc(var(--product-info-text-font-size) + 50%);
  line-height: 1.5;
  user-select: none;
  cursor: pointer;
}

.product-info__title {
  color: rgba(0, 0, 0, 0.25);
}

.product-info__title_active {
  color: #000;
}

.product-info__description {
  display: flex;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  justify-content: center;
}

.product-info__description-active {
  opacity: 1;
  max-height: 5000px;
}

.product-info__text {
  padding: var(--product-info-text-padding);
  text-align: var(--product-info-text-align-description);
  font-size: var(--product-info-text-font-size);
  line-height: 1.5;
  font-weight: 400;
}

.product-info__description-title {
  line-height: 1.5;
  font-size: calc(var(--product-info-text-font-size) + 2px);
  margin-bottom: var(--product-info-description-title-margin-bot);
  padding: 0 10px;
}

.product-info__text-align-left {
  text-align: left;
}

.product-info__text-align-left strong {
  opacity: 0.7;
}

.product-info__main-block {
  display: flex;
  flex-direction: column;
}

.product-info__text-main-block {
  padding: var(--product-info-text-main-block-padding);
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  cursor: default;
}

.product-info__text-main-block:hover {
  background-color: #D4252C;
  color: #fff;
}

.product-info__text-description {
  padding: var(--product-info-text-padding);
  text-align: var(--product-info-text-align-description);
  font-weight: 700;
  font-size: var(--product-info-text-font-size);
  line-height: 1.5;
}

.product-info__description-block:first-child .product-info__text {
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.product-info__description-block:nth-child(3) .product-info__text {
  border-left: 1px solid rgba(0, 0, 0, 0.4);
}

.product-info__description-block:nth-child(4) .product-info__text {
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.product-info__description-dop {
  flex-direction: column;
}

@media (max-width: 1750px) {
  :root {
    --swiper-slide-width: 90%;
    --product-info-text-font-size: 22px;
    --product-info-text-padding: 0 30px 20px 30px;
  }
}

@media (max-width: 1550px) {
  :root {
    --product-info-text-font-size: 20px;
    --product-info-text-padding: 0 20px 20px 20px;
  }
}

@media (max-width: 1500px) {
  :root {
    --title-font-size: 56px;
  }
}

@media (max-width: 1350px) {
  :root {
    --availability-width: 190px;
    --availability-height: 60px;

    --product-info-text-font-size: 18px;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: var(--swiper-button-next-after-font-size);
  }
}

@media (max-width: 1300px) {
  :root {
    --availability-width: 170px;
    --availability-height: 53px;
    --availability-margin: 15px 0;

    --title-font-size: 36px;
  }
}

@media (max-width: 1220px) {
  :root {
    --product-info-text-padding: 0 15px 10px 15px;
    --product-info-text-font-size: 14px;
  }
}

@media (max-width: 950px) {
  :root {
    --availability-width: 163px;
    --availability-height: 50px;
    --availability-margin: 13px 0;

    --title-font-size: 30px;
    --product-info-text-font-size: 14px;
    --swiper-slide-width: 85%;
    --swiper-button-next-after-font-size: 28px;
  }

  .availability-icon {
    font-size: var(--availability-font-size);
  }

  .product-info__description-specifications {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .product-info__description-block:first-child .product-info__text {
    border-left: none;
    border-right: none;
  }

  .product-info__description-block:nth-child(3) .product-info__text {
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-left: none;
  }

  .product-info__description-block:nth-child(4) .product-info__text {
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-left: none;
    border-right: none;
  }
}

@media (max-width: 780px) {
  :root {
    --availability-width: 156px;
    --availability-height: 46px;
    --availability-margin: 10px 0;
    --availability-font-size: 13px;

    --title-font-size: 25px;
    --product-info-text-font-size: 14px;
    --swiper-button-next-after-font-size: 28px;
    --product-info-text-align-description: left;
  }

  .product-info__title {
    font-size: var(--product-info-title-text-size);
  }


}

@media (max-width: 650px) {
  :root {
    --title-font-size: 22px;
    --product-info-title-text-size: 18px;
    --swiper-slide-width: 100%;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }

  .product-info__description-specifications {
    display: block;
  }

  .product-info__text-main {
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
  }
}

@media (max-width: 550px) {
  :root {
    --availability-width: 124px;
    --availability-height: 36px;
    --availability-margin: 7px 0;
    --availability-font-size: 11px;

    --title-font-size: 20px;
    --product-info-title-text-size: 16px;
  }

}

@media (max-width: 500px) {
  :root {
    --availability-width: 105px;
    --availability-height: 34px;
    --availability-margin: 7px 0;
    --availability-font-size: 10px;

    --title-font-size: 18px;
    --product-info-title-text-size: 14px;
    --product-info-text-font-size: 12px;
    --product-info-text-padding: 0 15px 7px 15px;
    --product-info-text-main-block-padding: 9px 8px;
  }
}

@media (max-width: 450px) {
  :root {
    --availability-width: 95px;
    --availability-height: 31px;
    --product-info-title-text-gap: 25px;
  }

  .product__title {
    max-width: 284px;
  }
}

@media (max-width: 380px) {
  :root {
    --product-info-title-text-size: 12px;
  }
}