:root {
  --contacts-title-font-size: 60px;
  --contacts-title-margin-bootom: 50px;

  --address-padding: 30px;

  --info-gap: 50px;

  --info-block-gap: 20px;
}

.animate-form:after,
.feedback__h2:after {
  display: none;
}

.main__title {
  font-size: calc(var(--contacts-title-font-size) / 1.5);
}

.main__text {
  font-size: calc(var(--contacts-title-font-size) / 2.5);
  line-height: 150%;
}

.contacts__title {
  font-size: var(--contacts-title-font-size);
  text-align: center;
  margin-bottom: var(--contacts-title-margin-bootom);
}

.info {
  display: flex;
  gap: var(--info-gap);
}

.info__block {
  width: 50%;
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: var(--address-padding);
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: column;
  gap: var(--info-block-gap);
}

.address__list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--info-block-gap) / 2);
  margin-top: auto;
}

.address__link {
  color: #d4252c;
  text-decoration: none;
}

.address__link:hover {
  text-decoration: underline;
}

.requisites__list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--info-block-gap) / 4);
  margin-top: auto;
}

.how-find__title {
  text-align: center;
  margin-bottom: calc(var(--contacts-title-margin-bootom) / 2);
}

.map__container {
  width: 100%;
}

.footer {
  margin-top: 0
}

@media (max-width: 1500px) {
  :root {
    --contacts-title-font-size: 58px;
    --address-padding: 22px;
  }
}

@media (max-width: 1410px) {
  :root {
    --contacts-title-font-size: 54px;
    --address-padding: 20px;
  }
}

@media (max-width: 1300px) {
  :root {
    --contacts-title-font-size: 36px;
    --info-block-gap: 10px;

  }

  .main__title {
    font-size: calc(var(--contacts-title-font-size) / 1.5);
  }

  .main__text {
    font-size: calc(var(--contacts-title-font-size) / 2);
  }
}

@media (max-width: 1110px) {
  :root {
    --info-gap: 10px;
  }

  .info {
    flex-direction: column;
    align-items: center;
  }

  .info__block {
    width: 80%;
  }
}

@media (max-width: 950px) {
  :root {
    --contacts-title-font-size: 30px;
  }

  .map-iframe {
    height: 400px;
  }
}

@media (max-width: 780px) {
  :root {
    --contacts-title-font-size: 25px;
  }

  .main__title {
    font-size: calc(var(--contacts-title-font-size) / 1.2);
  }

  .main__text {
    font-size: calc(var(--contacts-title-font-size) / 1.7);
  }
}

@media (max-width: 650px) {
  :root {
    --contacts-title-font-size: 22px;
  }
}

@media (max-width: 520px) {
  :root {
    --contacts-title-font-size: 20px;
  }

  .info__block {
    width: 100%;
  }
}

@media (max-width: 520px) {
  :root {
    --contacts-title-font-size: 18px;
  }
}