/* Страница о нас */
:root {
  --main-title-size: 64px;
  --main-title-margin-bot: 20px;
  --main-text-size: 24px;
}

.section {
  padding: 20px;
}

.section__title {
  text-align: center;
  font-size: var(--main-title-size);
  margin-bottom: var(--main-title-margin-bot);
}

.section__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.section__image {
  flex: 1 1 50%;
  max-width: 700px;
  padding: 10px;
}

.section__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  line-height: 1.5;
  flex: 1 1 50%;
  padding: 10px;
  font-size: var(--main-text-size);
}

.section__text p {
  margin: 0;
}

@media (max-width: 1300px) {
  :root {
    --main-title-size: 36px;
    --main-text-size: 20px;
  }
}

@media (max-width: 780px) {
  :root {
    --main-title-size: 25px;
    --main-text-size: 15px;
    --main-title-margin-bot: 6px;
  }

  .section__image {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 590px) {
  :root {
    --main-title-size: 20px;
    --main-text-size: 14px;
  }

  .section__content {
    gap: 5px;
  }

  .section__text {
    padding: 15px;
  }

  .section__image {
    width: 100%;
    max-width: none;
  }
}