/* Хлебные крошки для страниц*/
:root {
  --main-breadcrumbs-margin-top-bot: 70px;
}

.main__breadcrumbs {
  max-width: 1800px;
  margin: var(--main-breadcrumbs-margin-top-bot) auto;
  margin-top: calc(var(--main-breadcrumbs-margin-top-bot) - 1%);
  padding: 0 20px;
  font-size: 24px;
}

.main__breadcrumbs a {
  text-decoration: none;
  color: black;
}

.main__breadcrumbs>*:last-child {
  color: #D4252C;
}


@media (max-width: 1410px) {
  :root {
    --main-breadcrumbs-margin-top-bot: 60px;
  }

  .main__breadcrumbs {
    font-size: 20px;
  }
}

@media (max-width: 1300px) {
  :root {
    --main-breadcrumbs-margin-top-bot: 50px;
  }

  .main__breadcrumbs {
    font-size: 16px;
  }
}

@media (max-width: 1240px) {
  .main__breadcrumbs {
    font-size: 14px;
  }
}

@media (max-width: 1100px) {
  :root {
    --main-breadcrumbs-margin-top-bot: 40px;
  }
}

@media (max-width: 780px) {
  .main__breadcrumbs {
    font-size: 12px;
  }
}

@media (max-width: 590px) {
  :root {
    --main-breadcrumbs-margin-top-bot: 30px;
  }

  .main__breadcrumbs {
    font-size: 10px;
  }
}

@media (max-width: 470px) {
  :root {
    --main-breadcrumbs-margin-top-bot: 20px;
  }

  .main__breadcrumbs {
    font-size: 9px;
  }
}