.news-card__slider {
  height: 100%;
}

.slider-news__wrapper,
.slider-news-page_container {
  width: 90%;
  position: relative;
}

.slider-news__title {
  position: relative;
  display: inline-block;
  font-size: var(--news-title-font-size);
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 102px;
}

.slider-news__container {
  flex-direction: column;
  align-items: center;
  margin-top: 133px;
  margin: 100px auto;
  width: 93%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  position: relative;
}

.slider-news-swiper {
  width: 100%;
}

.slider-news__swiper-slide {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 28%;
  transition: box-shadow 0.3s ease;
}

.slider-news-img {
  width: 100%;
}

.slider-news-swiper-button-next {
  right: -20px;
}

.slider-news-swiper-button-prev {
  left: -20px;
}

.slider-news-swiper-button-next,
.slider-news-swiper-button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  max-height: 100%;
  color: #D4252C;
}

.slider-news__date {
  font-size: 24px;
  font-weight: 600;
  color: #D4252C;
  margin-bottom: 10px;
}

.slider-news__text {
  line-height: 1.5;
  flex-grow: 1;
}

.slider-news__text p {
  font-size: 21px;
}

.slider-news__btn-all {
  width: 361px;
  height: 107px;
  border-radius: 10px;
  border: 1px solid #D4252C;
  color: #D4252C;
  font-size: 40px;
  background-color: #ffffff;
  margin: 100px auto;
  text-transform: uppercase;
  cursor: pointer;
}

.slider-news__btn-all-link {
  text-decoration: none;
  color: inherit;
}

.slider-news__btn-all:hover {
  background-color: #D4252C;
  color: #ffffff;
}

.slider-news__btn-all:active,
.slider-news__btn-more:active {
  border: none;
  background-color: #C6C6C6;
  color: rgba(33, 33, 33, 0.69);
}

.slider-news__btn-more {
  border: none;
  background-color: #D4252C;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.slider-news__btn-more-link {
  color: #ffffff;
  text-decoration: none;
}

.slider-news__btn-more-link:hover {
  color: inherit;
}

.slider-news__btn-more:hover {
  background-color: #000000;
  color: #ffffff;
}

.slider-news-page__title {
  width: 100%;
  font-size: var(--news-title-font-size);
  font-weight: bold;
  margin-bottom: 102px;
  text-align: center;
}

.slider-news-page {
  margin: 0 auto;
}

.slider-news-page__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.slider-news-page__item {
  width: 32%;
  height: auto;
  margin-bottom: 55px;
}

@media (max-width: 1300px) {
  .slider-news__container {
    width: 100%;
  }

  .slider-news__title {
    font-size: 36px;
  }

  .slider-news__title {
    margin-bottom: 45px;
  }

  .slider-news__wrapper {
    width: 100%;
  }

  .slider-news__date {
    font-size: 18px;
  }

  .slider-news__text p {
    font-size: 15px;
  }

  .slider-news__btn-more {
    font-size: 14px;
  }

  .slider-news-swiper-button-next {
    right: 0px;
  }

  .slider-news-swiper-button-prev {
    left: 0px;
  }

  .slider-news-swiper-button-next::after,
  .slider-news-swiper-button-prev::after {
    font-size: 34px;
  }

  .slider-news__btn-all {
    width: 193px;
    height: 57px;
    font-size: 21px;
    border-radius: 4px;
    margin: 60px 0;
  }
}

@media (max-width: 1024px) {

  .slider-news-swiper-button-next::after,
  .slider-news-swiper-button-prev::after {
    font-size: 30px;
  }

  .slider-news-swiper-button-next,
  .slider-news-swiper-button-prev {
    display: none;
  }

  .slider-news__btn-more {
    width: 86px;
    height: 23px;
    font-size: 9px;
  }

  .slider-news__date {
    font-size: 13px;
  }

  .slider-news__text p {
    font-size: 12px;
  }
}

@media (max-width: 880px) {
  .slider-news__btn-more {
    width: 68px;
    height: 18px;
    font-size: 7px;
  }
}

@media (max-width: 840px) {

  .slider-news-swiper-button-next::after,
  .slider-news-swiper-button-prev::after {
    font-size: 28px;
  }
}

@media (max-width: 780px) {
  .slider-news__title {
    font-size: 25px;
  }

  .slider-news__date {
    font-size: 11px;
  }

  .slider-news__text p {
    font-size: 9px;
    line-height: 0.9;
  }

  .slider-news-swiper-button-next {
    right: 0;
  }

  .slider-news-swiper-button-prev {
    left: 0;
  }
}

@media (max-width: 767px) {

  .slider-news-swiper-button-next,
  .slider-news-swiper-button-prev {
    display: flex;
  }
}


@media (max-width: 680px) {

  .slider-news-swiper-button-next::after,
  .slider-news-swiper-button-prev::after {
    font-size: 23px;
  }
}

@media (max-width: 640px) {
  .slider-news__container {
    padding: 0;
  }
  .slider-news-swiper-button-next,
  .slider-news-swiper-button-prev {
    display: none;
  }
}

@media (max-width: 590px) {
  .slider-news__container {
    margin: 50px auto;

  }
  .slider-news__title {
    font-size: 20px;
  }

  .slider-news-swiper-button-next::after,
  .slider-news-swiper-button-prev::after {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .slider-news__btn-more {
    font-size: 5px;
    width: 58px;
    height: 13px;
  }

  .slider-news__date {
    font-size: 8px;
  }

  .slider-news__text p {
    font-size: 7px;
  }

  .slider-news-swiper-button-next::after,
  .slider-news-swiper-button-prev::after {
    font-size: 13px;
  }
}