:root {
  --property-list-text: 20px;
}

.availability .container {
  display: flex;
  flex-direction: column;
}

.availability__container {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.availability__item {
  display: flex;
  flex-direction: column;
  width: 31%;
  height: auto;
  background-color: #F0F0F0;
  border-radius: 15px;
  position: relative;
  padding: 1.5% 0;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.availability__item:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.availability__item-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.availability__title-container {
  position: relative;
  display: inline-block;
}

.availability__title {
  position: relative;
  display: inline-block;
  font-size: 66px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 102px;
  border: 4px solid #d4252c;
  border-radius: 15px;
  padding: 20px;
}

/* .availability__title::after {
  content: '';
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 0;
  height: 3px;
  background: #D4252C;
  transition: width 1s ease, left 1s ease;
} */

/* .availability-animate::after {
  left: 474px;
  width: 342px;
  top: 70px;
} */

.trailer-img {
  width: 100%;
  padding: 0 20px;
}

.availability__title-container {
  margin: 0 auto;
}

.availability__item-title {
  flex-grow: 1;
  font-size: calc(var(--property-list-text) + 2px);
  font-weight: 700;
  margin: 23px 110px 40px 21px;
  text-transform: uppercase;
}

.availability__property-block {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0 10px;

}

.property-list__text {
  font-size: var(--property-list-text);
}

.property-list__transported-weight,
.property-list__self-weight,
.property-list__platform-dimensions,
.property-list__axle-load {
  margin-top: 22px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.property-list__text_value {
  justify-content: flex-end;
}

.property-list__red-line {
  border-bottom: 1px solid #D4252C;
  width: 1000%;
  position: absolute;
  left: -21px;
  bottom: -2px;
}

.availability__item-cost {
  margin-top: 30px;
  margin-left: 21px;
  font-size: 16px;
}

.availability__item-btns {
  display: flex;
  justify-content: space-between;
  margin: 50px 14px 25px 14px;
}

.availability__item-btns-2 {
  display: flex;
  justify-content: flex-end;
  margin: 0 14px;
}

.pdf__hidden {
  display: none;
}

.availability__price {
  display: flex;
  gap: 5px;
  border: 1px solid #D4252C;
  border-radius: 10px;
  padding: 10px;
  font-size: var(--property-list-text);
}

.availability__price-item_bold {
  font-weight: 600;
}

@media (max-width: 1500px) {
  :root {
    --property-list-text: 18px;
  }

  .availability__item-title {
    margin: 20px;
  }
}

@media (max-width: 1400px) {
  .pdf {
    height: 40px;
    width: 100px;
    font-size: 14px;
  }
}

@media (max-width: 1300px) {
  :root {
    --property-list-text: 15px;
  }

  .availability__title {
    font-size: 36px;
    margin-bottom: 40px;
  }

  /* .availability-animate:after {
    left: 257px;
    top: 39px;
    width: 192px;
  } */

  /* .availability__title:after {
    height: 2px;
  } */

  .trailer-img {
    max-height: 220px;
  }

  .availability__item-title {
    margin-bottom: 10px;
  }

}

@media (max-width: 1150px) {
  .availability__item-btns {
    justify-content: flex-end;
  }

  .availability__item-btns-2 {
    justify-content: space-between;
  }

  .pdf {
    display: none;
  }

  .pdf__hidden {
    display: block;
  }
}

@media (max-width: 1024px) {
  :root {
    --property-list-text: 13px;
  }

  .availability__item-title {
    margin-bottom: 0px;
    max-width: 210px;
  }

  .availability__item-btns {
    margin-right: 8px;
  }

  .availability__item-btns-2 {
    margin: 0 8px;
  }

  .availability__property-block {
    padding: 0 5px;
  }

  .pdf {
    font-size: 11px;
    height: 30px;
    width: 90px;
  }

  .availability__item-btns {
    margin-top: 30px;
  }
}

@media (max-width: 880px) {
  .pdf {
    font-size: 10px;
    height: 25px;
    width: 81px;
  }
}

@media (max-width: 885px) {
  :root {
    --property-list-text: 11px;
  }

  .availability__item-btns {
    margin-right: 7px;
    margin-left: 7px;
  }
}

@media (max-width: 790px) {
  :root {
    --property-list-text: 14px;
  }

  /* .availability__title {
    font-size: 25px;
    margin-bottom: 25px;
  } */

  /* .availability-animate:after {
    left: 178px;
    top: 29px;
    width: 135px;
  } */

  .availability {
    margin-top: 25px;
  }

  .availability__item-title {
    max-width: 100%;
  }

  .availability__item {
    width: 48%;
  }

  .availability__property-block {
    padding: 0 10px;
  }

  .availability__item-btns {
    margin-right: 14px;
  }

  .availability__item-btns-2 {
    margin: 0 14px;
  }

  .pdf {
    font-size: 11px;
    height: 30px;
    width: 90px;
  }
}

@media (max-width: 630px) {
  :root {
    --property-list-text: 12px;
  }
}

@media (max-width: 590px) {
  .availability__title {
    font-size: 25px;
    padding: 12px;
  }

  /* .availability-animate:after {
    left: 144px;
    top: 24px;
    width: 105px;
  } */
}

@media (max-width: 570px) {
  :root {
    --property-list-text: 11px;
  }

  .availability__item {
    width: 47%;
  }

  .availability__item-title {
    margin: 11px;
  }

}

@media (max-width: 520px) {
  :root {
    --property-list-text: 14px;
  }

  .availability__container {
    flex-direction: column;
    align-items: center;
  }

  .availability__item {
    width: 85%;
  }

  .availability__item-btns {
    margin-left: 12px;
    margin-right: 12px;
  }

  .availability__item-btns-2 {
    margin-bottom: 10px;
  }

  .pdf {
    font-size: 14px;
    height: 40px;
    width: 100px;
  }
}

@media (max-width: 385px) {
  .availability__title {
    border: 3px solid #d4252c;
    font-size: 25px;
    padding: 12px;
  }

  .availability__item-btns {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 340px) {
  :root {
    --property-list-text: 11px;
  }

  .pdf {
    font-size: 11px;
    height: 30px;
    width: 90px;
  }
}